:root {
    --c0: #fffbf3;
    --c1: #fef0d7;
    --c2: #ffedcd;
    --c3: #fdeac4;
    --c4: #e9d09f;
    --c5: #f8b376;
    --c6: #f67c5a;
    --c7: #252525;
    --c8: #505050;
}

body {
    background-color: var(--c6);
    background: linear-gradient(60deg, var(--c5), var(--c6));
}

.badge {
    background-color: var(--c3);
    color: var(--c7);
}