@font-face {
    font-family: gabarito;
    src: url(../fonts/Gabarito/Gabarito-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: gabarito, monospace;
    color: var(--c7);
    scrollbar-width: thin;
    scrollbar-color: var(--c6) var(--c7);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--c7);
}

::-webkit-scrollbar-thumb {
    background-color: var(--c6);
    border-radius: 5px;
    border: 3px solid var(--c7);
}

::-webkit-scrollbar-button {
    height: 5px;
}

a {
    text-decoration: none;
    color: var(--c7);
    transition: all 0.2s;
}

a:hover {
    color: var(--c4);
    transition: all 0.2s;
}

p {
    color: var(--c8);
}