#start div>div {
    border: solid 3px;
    border-radius: 700px;
    border-color: var(--c3);
    width: 75%;
}

@media screen and (min-width: 576px) {
    #start div > div {
        width: 400px;
    }
}

#start img {
    border-radius: 700px;
    width: 100%;
}